SUI_RPC_NODE=https://fullnode.mainnet.sui.io
VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI1MjExZDYwNS03NjlmLTQ4Y2UtOGMxMS1jMzdlMmY0NzE1ODkiLCJlbWFpbCI6Im54YWh1b25nLjE4MS4yMDAxQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImlkIjoiRlJBMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfSx7ImlkIjoiTllDMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiIxYjhjZWJjZGQ1ZWU0YzM0MjMwZSIsInNjb3BlZEtleVNlY3JldCI6IjYxYmNhNjQ0MTQ0MGZjYjJiOTZkNTc3YjUyOWY5NWEzNDI0ZDZmMjcyZGQyYTE1NTQ1NWM3NjM1ZDE2ODZkODEiLCJpYXQiOjE3MTcwNTgzOTJ9.LKSV9XYjALFKt0sWaSoL_CYjXx749SW4fL6CKKh_vLc
VITE_GATEWAY_URL=blush-select-catshark-366.mypinata.cloud